@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;600;700&family=Inter:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Commissioner', sans-serif;
}
.contenedor{
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
    overflow: hidden;
}