// Colors
$white: #FFFFFF;
$white-light: #FFF6E5;
$brown: #46402D;
$green: #9FBD3D;
$green-strong: #95C121;
$gray: #464343;
$gray-light: #DDDDDD;
$black: #000000;
$gray-light-2: #D8D8D8;
$gray-light-3: #AAAAAA;
$gray-light-4:#333333;
$gray-light-5: #504D4D;

